/*

BANNER STYLES

*/
.banner {
   background-color: rgb(85, 174, 233);
  padding: 2rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  animation: fadeIn 1s ease-in;
}
.banner ul {
  list-style: none;
  padding: 5px;
  font: 16px , sans-serif;
  text-align: center;
}
.banner ul li {
  display: inline-block;
  margin-left: 4%;
  margin-right: 4%;
  padding: 1%;
  border-radius: 15%;
  background-color: rgb(253, 223, 166);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}
.banner a {
  text-decoration: none;
  color: black;
}
.banner nav {
  color: white;
  max-width: 100%;
  font-size: clamp(12px, 2vw, 18px);
}
.banner li:hover {
  background-color: rgb(248, 240, 224);
  transform: scale(1.03);
}

img {
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
  padding: 0;
}
/*

INFO STYLES

*/
.info {
  background-color: rgb(233, 199, 132);
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  font-size: clamp(12px, 2vw, 18px);
}

.info button {
  text-align: center;
  width: 15rem;
  height: 4rem;
  font-size: clamp(18px, 2vw, 24px);
  font-weight: bold;
  background-color: rgb(142, 206, 248);
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.info button:hover {
  background-color: rgb(65, 107, 248);
  transform: scale(1.03);
  color: white;
}
#info-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  margin: 2rem;
}

#info-content p {
  font-size: 1rem;
}

/*

ABOUT STYLES

*/

.about {
  background-color: rgb(130, 241, 180);
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  padding: 2rem;
  box-sizing: border-box;
}

.about div {
  flex-direction: row;
}
.about h2 {
  font-size: 
  3rem;
  margin-bottom: 1rem;
}
.about-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  box-sizing: border-box;
  margin: 2rem;
}

/*

DISCORD STYLES

*/
.discord {
  background-color: rgb(233, 179, 247);
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  padding: 2rem;
  
}

.discord div {
  flex-direction: row;
}
.discord h2 {
  font-size: 
  3rem;
  margin-bottom: 1rem;
}
.discord-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  margin: 2rem;
  box-sizing: border-box;
}
/*

CONTACT STYLES

*/
.contact {
  background-color: rgb(247, 114, 145);
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  padding: 2rem;
}

/*

FOOTER STYLES

*/
footer {
  background-color: rgb(85, 174, 233);
  padding: 1rem;
  text-align: center;
}
/*

ANIMATIONS

*/

@keyframes fadeIn {
  from { opacity: 0; 
        transform: translateY(-10px);
  }
  to { opacity: 1; 
       transform: translateY(0);
  }
}
